body{
  color:#000;
    
    
    background-size: cover; 
    font-family: helvetica;
    font-size: 20px;

}

.titlename {
  font-size: 40px;
  text-align: left;
  margin-top: 20px;
  margin-left: 7px;
  color: black;
  font-family: helvetica;
  text-transform: uppercase;
}

.bio {
  text-align: left;
  margin-top: 6px;
  margin-left: 8px;
  font-size: 15px;
  position: 
}

.links {
   font-size: 15px;
  text-align: right;
  margin-top: -100px;
  text-decoration: none;
  font-family: helvetica;
  margin-left:
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
text-decoration: none;
color: black;

}

a:hover {
text-decoration: none;
color: hotpink;
}

a: active {
text-decoration: none;
color: black;

}
/*navigation*/

/*images*/
.images {
  margin-top: 100px;
  margin-left: 5px;


}

.description1 {
 size: 10px;

}

/*end of images*/ 

/*hover images*/
/* Zoom In #1 */
.hover01 figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.hover01 figure:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.demo1 {
  margin-left: 50px;
}


/* add a height if you want the self-end to be at the bottom*/
.header {
  height:200px;
}

/* set all containers to flex with flex wrap*/
.container {
  display:flex;
  flex-wrap:wrap;
}

/* gutters are set here */
.item .content {
  padding:20px;
}

.number {
  text-align:center;
  padding:20px;
}

/* set all images  to fill the flex items */

/* create helper classes, similar to the w-1of3. These can be used to quickly adjust the alignment of the flex items */
.self-center {
  align-self:center;
}

.self-start{
  align-self:flex-start;
}

.self-end {
  align-self:flex-end;
}

.align-center {
  align-items:center;
}

.align-start {
  align-items:flex-start;
}

.align-end {
  align-items:flex-end;
}

/* these are helper classes to change the width of the items quickly */

.w-1of1 {flex:0 0 100%;}

.w-1of2 {flex:0 0 50%;}

.w-1of3 {flex:0 0 33.333%;}
.w-2of3 {flex:0 0 66.666%;}

.w-1of4{flex:0 0 25%;}
.w-2of4{flex:0 0 50%;}
.w-3of4{flex:0 0 75%;}

.w-1of5 {flex:0 0 20%;}
.w-2of5 {flex:0 0 40%;}
.w-3of5 {flex:0 0 60%;}
.w-4of5 {flex:0 0 80%;}

.w-1of12 {flex:0 0 8.3333%;}

.pic2 {

}
